.welfare-wrapper
  position fixed
  top 0
  bottom 0
  left 0
  overflow hidden
  .aaaa
    position relative
    display inline-block
  .welfare-center
    width 50%
    column-width: 100%;
    column-gap: 15px;
    max-width: 1100px;
    margin: 50px 0;
    float left
    figure
      background: #fefefe;
      border: 2px solid #fcfcfc;
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
      margin: 0 2px 15px;
      // padding: 15px;
      // padding-bottom: 10px;
      //transition: opacity .4s ease-in-out;
      display: inline-block;
      column-break-inside: avoid;
      z-index 11
      img
        width: 100%; height: auto;
        // border-bottom: 1px solid #ccc;
        // padding-bottom: 15px;
        // margin-bottom: 5px;
    figcaption
        font-size: .9rem;
        color: #444;
        line-height: 1.5;



