.header
  position absolute
  left 0
  top 0
  right 0
  height 44px
  overflow hidden
  background #f8f8f8
  z-index 2
  box-shadow 0 1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .1)
  &.show
    transform: translateX(200px);
  h1
    position relative
    font-family "Helvetica Neue", "Helvetica", sans-serif
    font-size 1rem
    margin 0
    padding 0
    line-height 44px
    text-align center
    z-index 2
    font-weight 300
    box-shadow inset 0 -1px 0 rgba(255, 255, 255, .25)
